.App{
    padding-top: 5%;
    min-height:1000px;
    max-height: 100%;
    display: flex;
    background-image: url('./../pics/wallpaper.jpg');
    background-size: cover;
    background-position: center;
}